<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LibDataFile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LibDataFile.Properties.Settings>
            <setting name="SourceScanDefault" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TransferReport" serializeAs="String">
                <value>TransferReport</value>
            </setting>
            <setting name="ActWritingDown" serializeAs="String">
                <value>ActWritingDown</value>
            </setting>
            <setting name="CloseKassa" serializeAs="String">
                <value>CloseKassa</value>
            </setting>
        </LibDataFile.Properties.Settings>
    </userSettings>
</configuration>